  //@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

//@import "../bootstrap/stylesheets/bootstrap";
nav,footer{
  opacity:.9;
}
// #top-search-bar{
//   width:380px;
// }
.sign-in{
  color:#fff;
  font-weight: bold;
  text-shadow:  0px 1px 10px rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}

.alert{
  z-index: 100;
  position: fixed;
  min-width: 20%;
  margin-bottom: 20px;
  margin-left: 5%;
  bottom: 35px;
  left: 5px;
}
.alert-info{
  background-color: #333;
  border-color: #444;
  color: #fff;
}
.search-bar-btn{
  margin-left: -10px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

body{
  padding-top: 50px;
  // padding-bottom: 40px;
  color: #5a5a5a;
}
.content{
  min-height: 450px;
}

.img-round{
  border-radius: 900px;
  // color:cadetblue;
  // background-color: aliceblue;

}
// #jumbotron{
// margin-top: -130px;
// padding-top: 130px;
// margin-left: -500px;
// padding-left: 560px;
// margin-right: -600px;
// padding-right: 660px;
// padding-bottom: 30px;
// }
.footer {
    // position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #111122;
    border-top-color: black;
    border-top-width: 4px;
  // height:50px;
    left: 0;
    padding: 15px;
    padding-left: 0;
    a{
      color:#aab;
    }
}


.book-view{
  padding: 20px;
  background-color: #fafbf8;
}


.carousel{
  margin-top: -50px;
  margin-bottom: 50px;
  background-color: #222;
  // margin-bottom: -80px;
  .carousel-inner>.item{
    .carousel-caption{
      padding-top: 5px;
      color:#fff;
      font-size: 1.6em;
      font-weight: bold;
      text-shadow:  0px 1px 10px rgba(0, 0, 0, 0.3);
      h1{
        font-size:2em;
        font-weight: bold;
      }
      blockquote{
        align-content: left;
        border-left: none;
        // font-size: 1.3em;
        small{
          color:#fff;
        }
      }
      p>.btn{
        font-weight: bold;
      }
    }
    img{
      overflow: hidden;
      opacity: 0.7;
      min-height: 545px;
      width: 100%;
      min-width: 1200px;
    }
  }
}

.usage{
  text-align: center;
  // margin-bottom: 80px;
  .usage-pic{
    background-color: #5a5a5a;
    color:#ddd;
    padding-top: 9%;
    height:150px;
    width:150px;
  }
}
.book-default-pic{
  text-align: center;
  background-color: #efefef;
  color:#ddd;
  padding-top: 15%;
  // padding-top: 17px;
  height:110px;
  width:110px;
  // padding-left: 23px;
  // margin-bottom: 30px;
}
// .alert{
//   margin-left: 160px;
//   width: 800px;
//   position: absolute;
//   margin-top: -80px;
//   z-index: 2000;}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
